@using Stripe;
@model List<Plan>
@{
    ViewData["Title"] = "LoadAllPlans";
}

<div class="row">
    @foreach(var plan in Model)
    {
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@plan.Nickname</h5>
                    <p>$@string.Format("{0:#.00}", Convert.ToDecimal(plan.Amount)/100)</p>
                    <p>@plan.Interval</p>
                </div>
            </div>
        </div>
    }
</div>

